doctype html

block page
    html
        head
            meta(charset='utf-8')
            title node website - #{title}
        
        body
            block content
        footer
            p Copyright #{currentYear}
